body {
    
    width: 90vh;
    height: 90vh;
    background-image: url('https://i.pinimg.com/originals/73/0a/0d/730a0da7d1ee5d0a2ec67090e3a6b944.jpg');
    background-size: 2000px 1000px;
}

form {
    
    color: aqua;
    position: relative;top: 25%; left: 70%;
    
}

fieldset {
    background-color: black;
    border-color: blue;
}

#submit {
    border-radius: 10px;
    background-color: aqua;
    border-color: aqua;
    color: gray;
    width: 105px;
    height: 40px;
    font-size: x-large;
}
